@font-face {
  font-family: 'iconfont';  /* project id 1876735 */
  src: url('//at.alicdn.com/t/font_1876735_hxfj0lh7gak.eot');
  src: url('//at.alicdn.com/t/font_1876735_hxfj0lh7gak.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1876735_hxfj0lh7gak.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1876735_hxfj0lh7gak.woff') format('woff'),
  url('//at.alicdn.com/t/font_1876735_hxfj0lh7gak.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1876735_hxfj0lh7gak.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

